.place__image {
    margin: 0;
    padding: 0;
    margin-right: 40px;
    display: block;
    max-width: 460px;
    object-fit: cover;
    width: 50%;
}

@media all and (max-width:767px) {
    .place__image {
        width: 100%;
        max-width: 760px;
        margin: 0;
    }
}

@media all and (min-width:768px) {
    .place__image {
        width:50%;
    }
}
