@font-face {
    font-family: 'Inter Bold';
    src: url('../../fonts/Inter\ Web/Inter-Black.woff');
}
@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter\ Web/Inter-Light.woff');
}

