.cover {
  max-width: 1200px;
  margin: 92px auto;
}

@media all and (max-width:1024px) and (min-width:768px) {
  .cover {
    margin: 88px auto;
    margin-bottom: 97px;
  }
}

@media all and (max-width:767px) {
  .cover {
    margin: 64px auto;
  }
}
