.cover__title {
  text-align: center;
  margin: 0 0 16px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 70%;
}


@media all and (max-width: 767px){
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
